<header>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isConnect}}
        <li><a href="/user/swap"><i class="fa fa-heartbeat" aria-hidden="true"></i></a></li>
        <li><a href="/user/tchats"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
        <li><a href="/user/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
        <li><a href="/user/signout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
