<main>
  <div class="container">
  <div class="container-fluid">
    <div class="inner center-align">
      <h1 class="cover-heading center-align">{{ title }}</h1>
      <p class="lead">Le site de rencontre Parship vous aide à trouver votre âme sœur.
        Laissez-vous convaincre par les témoignages de Marie-Pierre & Anatole ou de Suzanne & Camille : La description de leur première demande de contact, puis du premier email jusqu’à leur rencontre qui a fait des étincelles constituent les meilleurs conseils que quiconque pourra jamais vous donner. Ils forment aujourd’hui de beaux couples partageant une tendre complicité, ou de joyeuses familles recomposées.</p>
        <p class="lead">
          <form method="get" action="/user/signin">
            <button class="btn btn-lg" type="submit">Sign in</button>
          </form>
        </p>
        <a href="/user/signup" class="">Cree un compt.</a>
      </div>
    </div>
  </div>
</main>

