
<main>
	<div class="container row">
    <br><br>

    <div class="input-field col s12 ">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" value="{{ name }}">
          <label for="icon_prefix">Name</label>
        </div>
    <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Bio</label>
    </div>
    <div class="input-field col s6">
      <label>Your gender</label><br><br>
        <select class="browser-default">
          <option value="m" >M</option>
          <option value="f" >F</option>
          <option value="x" >other</option>
        </select>
    </div>
    <div class="input-field col s6 ">
      <label>Your are interest by</label><br><br>
        <select class="browser-default">
          <option value="m">M</option>
          <option value="f">F</option>
          <option value="x">All</option>
        </select>
    </div>
    <br>
    <h6 class="left">Age you prefer:</h6>
    <d  iv id="html5" class="noUi-target noUi-ltr noUi-horizontal col s12"></div>
    <br><br>
    <button type="button" name="button">register the modifiaction</button>
  </div>
</main>
