<main>
	<div class="container row">
      	<div class="card col s12 m4">
          <div class="center-align"><h4>I am {{name}}</h4> </div>
          <img src="http://lorempixel.com/200/200/people" alt="" class="circle responsive-img">
      	</div>
      	 <div class="card-panel teal col s12 m8">
					 <label>Bio</label><br><br>
          <span class="white-text">{{bio}}lorem</span>
        </div>
         <div class="input-field">
					 <!-- <div class="chips chips-placeholder"></div> -->
					 <hr>
					 <h5>Interest</h5>
					{{# each interest}}
						<div class="chip">{{this}}</div>
					{{/each}}
					<hr>
  			</div>
				<div class="visite your profile">
					<h5>Visite your profile</h5>
					{{# each interest}}
					<div class="chip">
							<img src="http://lorempixel.com/20/20/people" alt="Contact Person">
							Jane Doe
						</div>
					{{/each}}
				</div>
				<a href="/user/parameter"><button  type="submit">parameter</button></a>
	</div>
</main>
