<main>
	<div class="container">
	<div class="row">
      	<div class="card col s12 m4">
          <div class="center-align"><h4>I am {{user.name}}<i class="fa fa-pencil right" aria-hidden="true"></i></h4> </div>
          <img src="http://lorempixel.com/200/200/people" alt="" class="circle responsive-img">
      	</div>
      	<div class="card-panel teal col s12 m8">
      	<i class="fa fa-pencil right" aria-hidden="true"></i>
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
        <div class="input-field col s12">
    <select multiple>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Multiple Select</label>
  </div>
      </div>
	</div>
</main>

