<div class="container register">
  {{# if success}}
    <section class="success">
      <h3>successfull Validation!</h3>
    </section>
  {{ else }}
    {{# if errors}}
    <section class="errors">
        <ul>
            {{# each errors }}
              <li>{{ this.msg }}</li>
            {{/each}}
        </ul>
      </section>
    {{/if}}
    <form class="form" action="/register/sub" method="post">
      <h2 class="form">Sign Up</h2>
      <label >Name</label>
        <input type="text"  placeholder="name" name="name" required="" autofocus="">
      <label >Last name</label>
        <input type="text"  placeholder="Last name" name="lstname" required="" autofocus="">
      <label >Email address</label>
        <input type="text" placeholder="Email" name="email" required="" autofocus="">
      <label >Password</label>
        <input type="password" placeholder="Password" name="pw" required="">
      <label >Password confirm</label>
        <input type="password" placeholder="Password confirm" name="pwconf" required="">
      <button class="" type="submit">register</button>
    </form>
  {{/if}}
</div>
