<main>
	<div class="collection">
		<a href="/user/tchatwith/68465121384sd5w45e445" class="collection-item" style="height:80px"><img src="http://lorempixel.com/50/50/people" alt="" class="circle left"><span class="badge">1</span class="center">Alan</a>
			<a href="chatwith/856843132167984651" class="collection-item" style="height:80px"><img src="http://lorempixel.com/50/50/people" alt="" class="circle left"><span class="badge">1</span class="center">User</a>
			<a href="chatwith/856843132167984651" class="collection-item" style="height:80px"><img src="http://lorempixel.com/50/50/people" alt="" class="circle left"><span class="new badge">4</span>Alan</a>
		<a href="chatwith/856843132167984651" class="collection-item" style="height:80px"><img src="http://lorempixel.com/50/50/people" alt="" class="circle left"><span class="badge">1</span class="center">Alan</a>
    </div>
</main>
<script>
var socket = io('//'+document.location.hostname+':'+document.location.port);
socket.on('messages', function(data) {
                alert(data);
        });
</script>
