<main>
	<ul class="collection">
        <li class="collection-item">
        	<div>
                <a href="#!" class="collection-item"><img src="http://lorempixel.com/100/100/people" alt="" class="circle"></a>
                <span class="title">name</span>
                <p>laste message<p>
            	<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </div>
        </li>
        <li class="collection-item">
            <div><img src="http://lorempixel.com/100/100/people" alt="" class="circle">
                <span class="title">name</span>
                <p>laste message<p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </div>
        </li>
        <li class="collection-item">
            <div><img src="http://lorempixel.com/100/100/people" alt="" class="circle">
                <span class="title">name</span>
                <p>laste message<p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </div>
        </li>
        <li class="collection-item">
            <div><img src="http://lorempixel.com/100/100/people" alt="" class="circle">
                <span class="title">name</span>
                <p>laste message<p>
                <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
            </div>
        </li>
    </ul>
</main>
<script>
var socket = io('//'+document.location.hostname+':'+document.location.port);
socket.on('messages', function(data) {
                alert(data);
        });
</script>
