html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }

main {
    flex: 1 0 auto;
}

body {
  background-color: #EEEEEE;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: -webkit-linear-gradient(to right, #B83212, #710893);
  background: linear-gradient(to right, #B83212, #63107A);*/
/*  padding-top: 70px;
  padding-bottom: 30px*/
}

a {
  color: #0F0006 ;
}

/*button{
  background-color: #E0689A ;
}

.nav li{
  font-size: 30px;
  width: 33%;
}
.navbar{
  width:100%
}
.nav{
  width: 90%;
}
.navbar-header{
  width: 10%;
}
*/